<app-encabezado></app-encabezado>

<!--<div class="container">
    <div class="div2" *ngIf="text1; else otro">
        <h1>ola</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.
            Mollitia, officia magni minus voluptate incidunt aut dolor eos dicta facere,
            quisquam delectus esse assumenda culpa dolorum officiis, quibusdam vero. A, repellat!</p>
    </div>

    <ng-template #otro>
        <h1>jjj</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.
            Molli!
        </p>
    </ng-template>
</div>

<div class="container">
    <div class="div2" *ngIf="text2">
        <h1>ola</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.
            Mollitia, officia magni minus voluptate incidunt aut dolor eos dicta facere,
            quisquam delectus esse assumenda culpa dolorum officiis, quibusdam vero. A, repellat!</p>
    </div>
</div>

<button (click)="text1 = !text1">Text 1</button>
<button (click)="text2 = !text2">Text 2</button>

<hr>-->

<!--<div [ngSwitch]="condicion">
    <div *ngSwitchCase="'a'">"a" de abeja</div>
    <div *ngSwitchCase="'b'">"b" de baca</div>
    <div *ngSwitchCase="'c'">"c" de kasa</div>
    <div *ngSwitchDefault>Escribi una letra del abecedario</div>
</div>

//No se puede enlazar a 'ngModel' ya que no es una propiedad conocida de 'input'.
//Can't bind to 'ngModel' since it isn't a known property of 'input'.
<input type="text" [(ngModel)]="condicion">-->

<!--<div class="caja" [ngStyle]="{background: color ? color:'green'}">

</div>

<button (click)="color = 'red'">red</button>
<button (click)="color = 'blue'" [ngClass]="color">blue</button>-->

<!--con index se puede mostrar el primer elemento de la lista y con last el ultimo --let juegos of juegosMobile; index as -variable-
con odd los elementos pares y even los impares --let juegos of juegosMobile; odd as -variable-
http//www.google.com/#g= valor que se desea buscar--->

<ul>
    <li *ngFor="let juegos of juegosMobile">
        {{juegos}}

        <!--direcciona a la pagina que se especifica aqui "{{juegos.titulo}}"-->
        <!--<a href="http://google.com/#q={{juegos.titulo}}"> {{juegos.titulo}} </a>-->
    </li>
</ul>

<router-outlet></router-outlet>
